/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:ital,wght@0,300;0,600;0,900;1,300&display=swap');

$primary-color: #009688;
$font-color:#396088;
//font families
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Lato', sans-serif;
//font weights
$regular:300;
$bold:600;
$display:900;
.bg-primary{
  background-color:$primary-color!important;
}
body{
  font-family: $secondary-font;
  font-weight: 300;
  color: #ffffff;
  //background: #009688;
  //background: #2976ad;


  position: relative;
  app-root{
    min-height: 100vh;
  }
  .navbar-brand{
    font-family: $primary-font;
    letter-spacing: .025em;
    font-weight: 300;
  }

  > *{
    position: relative;
    z-index: 1;
  }
  button{
    font-weight: 600;
    font-family: $primary-font;

    &.btn-primary {
      color: #efefef;
      background-color: $primary-color;
      border-color: $primary-color;
      &:hover {
        color: #ffffff;
        background-color: darken($primary-color, 10);
        border-color: darken($primary-color, 10);
      }
    }
  }
  h1, h2, h3, h4, h5, h6{
    font-weight:600;
    font-family: $primary-font;

  }
  .display {
    font-weight: 900;
  }
}
app-home {
  display: flex;
  height: calc(100vh - 56px);
  align-items: center;
}
.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
